footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set minimum height to full viewport height */
  display: flex;
  flex-direction: column;
}
