body {
  min-height: auto;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(191, 241, 243);
}
#navigation {
  margin: 2px;
  padding: 2%;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  background-color: rgb(220, 255, 250);
  color: rgb(204, 64, 64);

  list-style: none;
}

#aboutmecss,
#projectscss {
  text-align: center;
}

.main {
  background-color: azure;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
